<div class="d-flex">
  <%= image_tag video.url %>
  <div class="d-flex flex-column">
    <p><%= video.title %></p>
    <p><%= video.views %></p>
    <div class="d-flex">
      <%= image_tag video.user.profile_picture %>
      <p><%= video.user.name %></p>
    </div>
    <p><%= video.description %></p>
  </div>
</div>
