<div class="d-flex flex-column flex-lg-row my-2">
  <%= image_tag video.url, size: '350x200' %>
  <div class="d-flex flex-column mx-4">
    <h6 class="m-0"><%= video.title %></h6>
    <small class="mb-2"><%= number_in_words video.views %> views</small>
    <div class="d-flex align-items-center mb-2">
      <%= image_tag video.user.profile_picture, class: 'rounded-circle mr-2', size: '32x32' %>
      <small class="flex-grow-1" data-toggle="tooltip" data-placement="top" title="<%= video.user.name %>" ><%= video.user.name %></small>
    </div>
    <small><%= video.description %></small>
  </div>
</div>