<div class="d-flex">
  <%= image_tag video.url %>
  <%= video.title %>
  <%= video.views %>
  <%= video.description %>
  <%= video.user_id %>
  <%= link_to 'Show', video %>
  <%= link_to 'Edit', edit_video_path(video) %>
  <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
